<%= form_with url: flights_path, method: :get do |form| %>
    <div class="form-group">
            <%= form.label :departure_airport_id, "From" %>
            <%= form.select(:departure_airport_id, @airport_options)%>
    </div>
    <div class="form-group">
        <%= form.label :arrival_airport_id, "To" %>
        <%= form.select(:arrival_airport_id, @airport_options)%> 
    </div>
    <div class="form-group">
        <%= form.label :date, "Date" %>
        <%= form.select(:date, @date_options) %>   
    </div>

    <div class="form-group">
        <%= form.label :num_passengers, "Number of Passengers" %>
        <%= form.select(:num_passengers,(1..4).to_a) %>
    </div>
    <%= form.submit "Search Flights", class: "btn btn-primary" %>
  </div>
<% end %>

<%= form_with url: new_booking_path, method: :get do |form|%>
    <%= form.hidden_field :num_passengers, value: @num_passengers %>
    <% if @matching_flights.present? %>
        <% @matching_flights.each do |flight|%>
            <%= form.radio_button :flight_id, flight.id, required: true %>
            <%= form.label "flight_id_#{flight.id}" do %>
                <%= flight.departure_airport.name%>(<%= flight.departure_airport.code%>) <br>
                <%= flight.arrival_airport.name%>(<%= flight.arrival_airport.code%>)<br>
                <%= flight.start_date.strftime("%B %d, %Y at %I:%M %p")%><br>
                <%= flight.duration%>
            <% end %>
            <br>
        <% end %>
    <%else%>
        <div class="alert alert-info" role="alert">
          No flights available for the selected criteria.
        </div>           
    <% end %>
    <%= form.submit "Book Flight"%>
<% end %>
   